.toggle_wrapper{
  width: 343px;
  background: #f8f9fc;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto 12px auto;
  display: flex;
}

.toggle_button{
  width: 171px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #94a4ba;
  background: none;
  border: none;
  justify-content: center;
  align-self: center;
  padding: 7.2px 0;
  cursor: pointer;
}

.active_button{
  border-radius: 6.9px;
  box-shadow: 0 1px 6px 1px rgba(160, 161, 188, 0.25);
  line-height: 1.31;
  color: #3e416d;
  width: 171px;
}