.banner_search{
    width: 720px;
    height: 56px;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.15);
    display: flex;
    margin: 0 auto;
}

.banner_search_field{
    width: calc(100% - 56px);
    border: none;
    border-radius: 9px 0 0 9px;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

.banner_search_field::placeholder{
    color: #94a4ba;
}

.search_submit{
    border: none;
    background-color: #6950ab;
    border-radius: 0 9px 9px 0;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.search_submit::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(../../../images/search.svg);
}

.lds_ring {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 56px;
    background-color: #6950ab;
    border-radius: 0 9px 9px 0;
    height: 56px;
}
.lds_ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.empty_field_error{
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border-radius: 10px;
}

.empty_field_error p{
    font-size: 16px;
    color: red;
    padding: 15px;
}

@media screen and (max-width: 969px){
    .banner_search{
        width: 629px;
    }
}

@media screen and (max-width: 660px){
    .banner_search{
        width: 100%;
        padding: 0 20px;
    }
}