.banner_search{
    width: 720px;
    height: 56px;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.15);
    display: flex;
    margin: 0 auto;
}

.banner_search_field{
    width: calc(100% - 56px);
    border: none;
    border-radius: 9px 0 0 9px;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

.banner_search_field::placeholder{
    color: #94a4ba;
}

.search_submit{
    border: none;
    background-color: #6950ab;
    border-radius: 0 9px 9px 0;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.search_submit::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(../../../images/search.svg);
}

.empty_field_error{
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border-radius: 10px;
}

.empty_field_error p{
    font-size: 16px;
    color: red;
    padding: 15px;
}

@media screen and (max-width: 969px){
    .banner_search{
        width: 629px;
    }
}

@media screen and (max-width: 660px){
    .banner_search{
        width: 88%;
        margin: 0 auto;
    }
    .empty_field_error{
        width: 100%;
        top: 50px;
        border-radius: 0 0 10px 10px;
    }
}