*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif Roboto;
}

.container{
  width: 100%;
  max-width: 1121px;
  margin: 0 auto;
}

.wrapper{
  padding-top: 50px;
}

li{
  list-style: none;
}

button:active,button:focus,input:focus{
  outline: none;
}

@media screen and (max-width: 1200px){
  .container{
    max-width: 969px;
  }
}

@media screen and (max-width: 969px){
  .container{
    max-width: 769px;
  }
}

@media screen and (max-width: 769px){
  .container{
    max-width: 100%;
  }
}

@media screen and (max-width: 480px){
  .wrapper{
    padding-top: 40px;
  }
}
