.content_item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_item_image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.content_item_title{
    font-size: 20px;
    color: #3e416d;
    margin-bottom: 32px;
    font-weight: normal;
    text-align: center;
}

.content_item_descr{
    color: #94a4ba;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

@media screen and (max-width: 969px){
    .content_item{
      width: 48%;
      margin-bottom: 40px;
    }
}

@media screen and (max-width: 769px){
    .content_item{
      width: 100%;
      margin-bottom: 50px;
    }
    .content_item_descr{
        width: 469px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .content_item_descr,.content_item_title{
        width: 100%;
        padding: 0 20px;
    }
}